body {
	width: 100vw;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
	text-align: center;
}

textarea {
	padding: 25px 50px;
	border-radius: 40px;
	transition: .25s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	border-top: 3px solid #4daaaa;
	border-bottom: 3px solid #aadddd;
	border-right: 3px solid #4daaaa;
	border-left: 3px soid #aadddd;
}

textarea:hover {
	border-radius: 80px;
	transition: .25s;
}
	
button {
	padding: 10px 15px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: .25s;
}

button:hover {
	padding: 15px 20px;
	border-radius: 40px;
	transition: .25s;
}

a {
	text-decoration: none;
	color: black;
}


body { 
	text-align: center; 
} 

.cell { 
	height: 75px; 
	width: 75px; 
	border: 5px solid grey;
	border-style: inset; 
} 

.blackcell { 
	background-color: black; 
} 

.whitecell { 
	background-color: #e6e6e6; 
}