body {
	width: 100vw;
	height: 100vh;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
	text-align: center;
}

textarea, button {
	padding: 25px 50px;
	border-radius: 40px;
	transition: .25s;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	border-top: 3px solid #4daaaa;
	border-bottom: 3px solid #aadddd;
	border-right: 3px solid #4daaaa;
	border-left: 3px soid #aadddd;
}

textarea:hover {
	border-radius: 80px;
	transition: .25s;
}
	
button {
	padding: 10px 15px;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	transition: .25s;
}

button:hover {
	padding: 15px 20px;
	border-radius: 40px;
	transition: .25s;
}

a {
	text-decoration: none;
	color: black;
}


body { 
	text-align: center; 
} 

.cell { 
	height: 75px; 
	width: 75px; 
	border: 5px solid grey;
	border-style: inset;
	position: relative;
} 

.blackcell { 
	background-color: green; 
	position: relative;
} 

.whitecell { 
	background-color: #e6e6e6;
	position: relative;
}

img {
	position: relative;
	z-index: 1;
}

img, .cell {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
					user-select: none;
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

textarea:focus {
	outline: none;
}

.arrow {
		width: 0;
		height: 0;
		border-left: 20px solid transparent;
		border-right: 20px solid transparent;
		border-bottom: 40px solid #617bff;
		/* Adjust position as needed */
		position: absolute;
		top: 100px;
		left: 50%;
		transform: translateX(-50%);
}